<br>
<br>
<br>
<br>
<br>

<div class="container">

  <div class="row">
      <div class="col-md-4 offset-md-4">
      <div class="card text-center card  bg-default mb-3">

        <div class="card-header">
          LOGIN
        </div>

        <div class="card-body">
          <input type="text" class="form-control input-sm chat-input" placeholder="Email" [(ngModel)]="user.email" />
          
          <br>

          <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="Password" [(ngModel)]="user.password" />
        </div>
        
        <div class="alert alert-danger" [hidden]="!error">{{ error }}</div>
        
        <div class="card-footer text-muted" id="loginBtn">
          <button
            class="btn btn-secondary"
            id="loginBtn"
            [disabled]="isNotValid()"
            (click)="doLogin()"
          >
            Login
        </button>
        </div>
      </div>
  </div>
  </div>
</div>
